/*
 * Hey source-code seekers, this is the style.css!
 * Here is where all the style within the app are defined in CSS.
 * You can change some things if it makes you feel better, makes some room for customization.
 * 
 * Thanks and happy coding!
 * 
 * Bram van der Veen (#96AA48).
 */


/* Importing of the Minecraft font : */

@font-face {font-family:"Minecraft";src:url("fonts/minecraft_font_by_pwnage_block-d37t6nb.eot?") format("eot"),url("fonts/minecraft_font_by_pwnage_block-d37t6nb.woff") format("woff"),url("fonts/minecraft_font_by_pwnage_block-d37t6nb.ttf") format("truetype"),url("fonts/minecraft_font_by_pwnage_block-d37t6nb.svg#Minecraft") format("svg");font-weight:normal;font-style:normal;}

/* Body style for general document (background etc.). */

body {
	background-color:#555;
	background-image:url('images/stone.png');
	padding:0;
	margin:0;
	font-family:"Minecraft";
	overflow:hidden;
}

/* Header styles */

header {
	background-image:url('images/grass.png');
	height:100px;
	background-color:#593D29;
	background-repeat:repeat-x;
	border-top:solid 2px #9CCB6C;
	color:#FFF;
	line-height: 100px;
	padding-left: 30px;
	position:fixed;
	left:0px;
	right:0px;
	z-index:3;
}

header h1 {
	text-shadow: 2px 2px 0px #333;
}

span#author {
	color: #000;
	margin-left: 25px;
	display:inline;
}

/* Menu styles */

div#menu {
	width:45%;
	height:100%;
	position:fixed;
	left:55%;
	border-left:solid 2px #593D29;
	padding-top:100px;
	overflow-y:auto;
}

div#menu div#content {
	text-align:center;
	color:#FFF;
	text-shadow:0px -2px 0px #000;
}

div#menu div#content ul li {
    list-style:none;
    margin-top:10px;
    margin-bottom:10px;
}

div#menu div#content ul li:hover {
    color:#FF0;
}

div#menu div#content ul {
    padding-left:0px
}

div#menu div#content li#play {
    font-size:x-large;
    margin-bottom:50px;
    margin-top:50px;
}

.gofullscreen {
	margin-top:10px;
	color:#FFF;
}

.gofullscreen:hover {
	color:#DDD;
}

.gofullscreen:active {
	color:#FFFF66;
}

.gofullscreen:before {
	content:"<<";
	padding-right:8px;
	font-size:8px;
}

/* General styles */

a {
	color:inherit;
	text-decoration:none;
}
p {
	color:#FFF;
	font-size:x-small;
}

/* Remove fullscreen button styles */

.removefullscreen {
	position: fixed;
	color: white;
	background-color: #000;
	width: 50px;
	height: 50px;
	right: -25px;
	display: block;
	z-index: 4;
	text-align: center;
	line-height: 46px;
	border-radius: 50px;
	opacity: 0.75;
	font-weight: bold;
	font-family: verdana;
	top: -25px;
	padding-right: 25px;
	padding-top: 25px;
	font-size: 33px;
	padding-left: 10px;
	padding-bottom: 10px;
	display:none;
}

/* Creative commons styles */

div#cc {
	position:fixed;
	z-index:12;
	right:10px;
	bottom:10px;
}

/* Frame styles */

div#minecraft_frame {
	height:100%;
}

iframe {
	width:55%;
	height:90%;
	margin-top:102px;		
}
